<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            width: 40vw;
            height: 40vh;
        }
        form{
            width: 100%;
            height: 100%;
            font-size: 2rem;
        }
    </style>
</head>
<body>
    <div class="container">
    <form action="addrecord/" method="post">
        {% csrf_token %}
        <label >Enter a product name</label>
        <input type="text" name="name" ><br>
        <label >Enter a product price</label>
        <input type="text" name="price" ><br>
        <label >Enter a product quantity</label>
        <input type="text" name="quantity" ><br>
        <label >Enter a product offer status</label>
        <input type="text" name="offer" ><br>
        <input type="submit">

    </form>
</div>
</body>
</html>