<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        .container{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
            width: 40vw;
            height: 40vh;
        }
        table{
            width: 100%;
            height: 100%;
            font-size: 2rem;
        }
    </style>
</head>
<body>
    <div class="container">
        <table border="1">
            <tr><th>Products</th></tr>
            {% for x in data %}
            <tr>
                <td>{{x.product_name}}</td>
                <td><a href="view_details/{{x.id}}">VIEW DETAILS</a></td>
            </tr>
            {% endfor %}
        </table><br>
        <a href="add/">Add Product Details</a>
    </div>
</body>
</html>